#initialPartner, #custBorn, #notSmoking{
    float:right;
    height:100%;
    width:50%;
    text-align: center;
    background-color: lightgrey;
}

#initialCustomer, #custPregnant, #smoking{
	float:left;
	width:50%;
    height:100%;
    text-align: center;
    background-color:grey;

}

#initialCustomer p, #initialPartner p , #custBorn p, #custPregnant p, #notSmoking p, #smoking p {
    margin-top:calc(50vh - 40px)
}

#custBorn, #notsmoking, #custPregnant, #smoking, #finishScreen {
	display: none;
}

body {
    padding:0;
    margin:0;
}