@font-face {
  font-family: OpenDyslexic3;
  src: url("../fonts/OpenDyslexicThree-Regular.woff2") format("woff2"), url("../fonts/OpenDyslexicThree-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenDyslexic3;
  src: url("../fonts/OpenDyslexicThree-Bold.woff2") format("woff2"), url("../fonts/OpenDyslexicThree-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* line 74, /Users/maxdefroe/HCI/public/scss/style.scss */
body {
  background-color: #f8f9fb;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
}

/* line 80, /Users/maxdefroe/HCI/public/scss/style.scss */
* {
  box-sizing: border-box;
  -moz-transition: all "1s" ease;
  -o-transition: all "1s" ease;
  -webkit-transition: all "1s" ease;
  transition: all "1s" ease;
}

/* line 85, /Users/maxdefroe/HCI/public/scss/style.scss */
.accentcolortext {
  color: #e1787d;
}

/* line 90, /Users/maxdefroe/HCI/public/scss/style.scss */
.recommend_register p {
  color: #000;
}

/* line 94, /Users/maxdefroe/HCI/public/scss/style.scss */
.page-spaceing {
  height: 100px;
  width: 100%;
  display: inline-block;
}

/* line 99, /Users/maxdefroe/HCI/public/scss/style.scss */
.grid {
  max-width: 700px;
  margin: auto;
}

/* line 102, /Users/maxdefroe/HCI/public/scss/style.scss */
.grid .shadow-block {
  background-color: #fff;
  width: calc(100% - 20px);
  -webkit-box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  float: left;
  margin: 10px;
  border: none;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

/* line 117, /Users/maxdefroe/HCI/public/scss/style.scss */
.grid .shadow-block p {
  color: #000;
  font-weight: lighter;
}

/* line 121, /Users/maxdefroe/HCI/public/scss/style.scss */
.grid .shadow-block .registerbutton {
  background-color: #f78386;
  padding: 10px;
  border-radius: 14px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.19);
}

@media (max-width: 550px) {
  /* line 102, /Users/maxdefroe/HCI/public/scss/style.scss */
  .grid .shadow-block {
    width: 100%;
    margin: 0px;
  }
}

@media (max-width: 768px) {
  /* line 99, /Users/maxdefroe/HCI/public/scss/style.scss */
  .grid {
    max-width: 90%;
  }
}

@media (max-width: 550px) {
  /* line 99, /Users/maxdefroe/HCI/public/scss/style.scss */
  .grid {
    max-width: 100%;
  }
}

/* Button used to open the contact form - fixed at the bottom of the page */
/* line 142, /Users/maxdefroe/HCI/public/scss/style.scss */
.setting, .chat {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

/* line 151, /Users/maxdefroe/HCI/public/scss/style.scss */
.open-button {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* line 160, /Users/maxdefroe/HCI/public/scss/style.scss */
.open-button-logged {
  position: absolute;
  margin-top: 10px;
  text-align: right;
  width: 25%;
  display: none;
}

/* line 168, /Users/maxdefroe/HCI/public/scss/style.scss */
.open-button-logged-img {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* line 177, /Users/maxdefroe/HCI/public/scss/style.scss */
.loginFooter {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* The popup form - hidden by default */
/* line 183, /Users/maxdefroe/HCI/public/scss/style.scss */
.form-popup {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  border: 3px solid #f1f1f1;
  z-index: 999999;
  opacity: 1;
  overflow-y: scroll;
  background-color: #fff;
}

/* Add styles to the form container */
/* line 198, /Users/maxdefroe/HCI/public/scss/style.scss */
.form-container {
  padding: 10px;
  padding-top: calc(50vh - 170px);
  height: 100vh;
  background-color: #fff;
  max-width: 600px;
  margin: auto;
}

/* Full-width input fields */
/* line 208, /Users/maxdefroe/HCI/public/scss/style.scss */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  border-radius: 10px;
  background: #f1f1f1;
}

@media (max-width: 768px) {
  /* line 208, /Users/maxdefroe/HCI/public/scss/style.scss */
  .form-container input[type=text], .form-container input[type=password] {
    font-size: 17px !important;
  }
}

/* When the inputs get focus, do something */
/* line 221, /Users/maxdefroe/HCI/public/scss/style.scss */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  border-radius: 10px;
}

/* Set a style for the submit/login button*/
/* line 229, /Users/maxdefroe/HCI/public/scss/style.scss */
.form-container label {
  margin: auto;
  text-align: center;
  display: inherit;
  color: #505050;
  font-size: 14px;
  margin-bottom: 15px;
}

/* line 237, /Users/maxdefroe/HCI/public/scss/style.scss */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
}

@media (max-width: 768px) {
  /* line 237, /Users/maxdefroe/HCI/public/scss/style.scss */
  .form-container .btn {
    font-size: 17px !important;
  }
}

/* Add a grey boarder and transparent backgroundcolor to the cancel button */
/* line 255, /Users/maxdefroe/HCI/public/scss/style.scss */
.grey-cancel {
  background-color: transparent !important;
  color: #3a3a3a !important;
  font-weight: 800 !important;
  border: 3px solid #9e9e9e !important;
}

/* Add some hover effects to buttons */
/* line 263, /Users/maxdefroe/HCI/public/scss/style.scss */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* line 267, /Users/maxdefroe/HCI/public/scss/style.scss */
h1 {
  font-size: 38px;
  padding: 15px 0px 0px 0px;
}

/* line 272, /Users/maxdefroe/HCI/public/scss/style.scss */
.header-image {
  max-width: 700px;
  margin-top: 40px !important;
  height: 130px;
  background-size: cover;
  background-position: center;
  width: calc(90% - 20px);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.15);
  margin: auto;
  background-image: url("../img/par-s.jpg");
}

@media (max-width: 550px) {
  /* line 272, /Users/maxdefroe/HCI/public/scss/style.scss */
  .header-image {
    margin-top: 10px !important;
    margin-bottom: 10px;
    width: 100%;
  }
}

/* line 291, /Users/maxdefroe/HCI/public/scss/style.scss */
.title {
  text-align: center;
  color: white;
}

/* line 295, /Users/maxdefroe/HCI/public/scss/style.scss */
.white-block-wrapper {
  max-width: 700px;
  margin: auto;
}

/* line 298, /Users/maxdefroe/HCI/public/scss/style.scss */
.white-block-wrapper .white-block {
  max-width: 700px;
  margin: auto;
  background-color: #fff;
  width: calc(100% - 20px);
  -webkit-box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  float: left;
  margin: 10px;
  border: none;
  margin-bottom: 0px;
  text-align: left;
}

/* line 312, /Users/maxdefroe/HCI/public/scss/style.scss */
.white-block-wrapper .white-block p {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
  font-weight: lighter;
}

/* line 318, /Users/maxdefroe/HCI/public/scss/style.scss */
.white-block-wrapper .white-block:focus {
  outline: none;
}

@media (max-width: 550px) {
  /* line 298, /Users/maxdefroe/HCI/public/scss/style.scss */
  .white-block-wrapper .white-block {
    margin: 10px 0;
    width: 100%;
    margin-bottom: 0px;
  }
}

/* line 327, /Users/maxdefroe/HCI/public/scss/style.scss */
.white-block-wrapper .white-block.active {
  border-radius: 10px 10px 0px 0px;
}

@media (max-width: 768px) {
  /* line 295, /Users/maxdefroe/HCI/public/scss/style.scss */
  .white-block-wrapper {
    max-width: 90%;
  }
  /* line 333, /Users/maxdefroe/HCI/public/scss/style.scss */
  .white-block-wrapper .white-block p {
    font-size: 17px;
  }
}

@media (max-width: 550px) {
  /* line 295, /Users/maxdefroe/HCI/public/scss/style.scss */
  .white-block-wrapper {
    max-width: 100%;
  }
}

/* line 350, /Users/maxdefroe/HCI/public/scss/style.scss */
.chat_bot {
  text-align: center;
  color: white;
  font-size: 16px;
}

/* line 355, /Users/maxdefroe/HCI/public/scss/style.scss */
.icon {
  max-width: 50px;
  margin: 20px;
  max-height: 50px;
  float: left;
}

/* line 363, /Users/maxdefroe/HCI/public/scss/style.scss */
#contentContainer a .thin, #contentContainer a .emojione, #contentContainer a b {
  display: none;
}

/* line 369, /Users/maxdefroe/HCI/public/scss/style.scss */
.first_block {
  font-size: 16px;
  color: white;
  text-align: center;
}

/* line 376, /Users/maxdefroe/HCI/public/scss/style.scss */
#contentContainer a .thin, #contentContainer a .emojione, #contentContainer a b {
  display: none;
}

/* line 382, /Users/maxdefroe/HCI/public/scss/style.scss */
#footer-container {
  bottom: 0px;
  position: fixed;
  width: 100%;
  height: 50px;
  margin-left: -8px;
  z-index: 99999;
  padding: 0px;
  background-color: white;
  border-top: 2px solid #a8a9ab;
  border-radius: 7px 7px 0px 0px;
}

/* line 393, /Users/maxdefroe/HCI/public/scss/style.scss */
#footer-container .footer {
  float: left;
  height: 90%;
  width: calc(100% / 3);
  position: initial;
}

/* line 419, /Users/maxdefroe/HCI/public/scss/style.scss */
.personal_information {
  max-width: 700px;
  margin: auto;
}

/* line 422, /Users/maxdefroe/HCI/public/scss/style.scss */
.personal_information .white-block {
  background-color: #fff;
  width: calc(100% - 20px);
  border-radius: 10px;
  float: left;
  margin: 10px;
  text-align: center;
}

/* line 429, /Users/maxdefroe/HCI/public/scss/style.scss */
.personal_information .white-block p {
  margin-top: 30px;
  font-size: 16px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: lighter;
}

@media (max-width: 768px) {
  /* line 419, /Users/maxdefroe/HCI/public/scss/style.scss */
  .personal_information {
    max-width: 90%;
  }
}

/* line 444, /Users/maxdefroe/HCI/public/scss/style.scss */
.progressbar {
  height: 20px;
  /* Can be anything */
  position: relative;
  background: #e7e7e8;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

/* line 459, /Users/maxdefroe/HCI/public/scss/style.scss */
.progressbar > span {
  height: 20px !important;
  display: block;
  bottom: 10px;
  left: -10px;
  display: block;
  height: 100%;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #e1787d;
  -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.14), 0 0px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.14), 0 0px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.14), 0 0px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

/* line 485, /Users/maxdefroe/HCI/public/scss/style.scss */
.progressbar > span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-animation: none;
  background-image: none;
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

/* line 510, /Users/maxdefroe/HCI/public/scss/style.scss */
ul {
  list-style-type: none !important;
  padding-left: 0px;
}

/* line 513, /Users/maxdefroe/HCI/public/scss/style.scss */
ul li {
  background-image: url("../img/bullet.png");
  background-position: center left !important;
  background-repeat: no-repeat !important;
  background-size: 10px;
  margin-bottom: 10px;
  padding-left: 22px;
}

/* line 523, /Users/maxdefroe/HCI/public/scss/style.scss */
.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  font-size: 15px;
  margin: 10px;
  z-index: 3;
  font-weight: 100;
  position: relative;
  border-radius: 0px 0px 10px 10px;
}

/* line 534, /Users/maxdefroe/HCI/public/scss/style.scss */
.panel p {
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
}

/* line 539, /Users/maxdefroe/HCI/public/scss/style.scss */
.panel .innerblock {
  background-color: #fff;
  width: calc(100% - 40px);
  -webkit-box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.06);
  display: inline-block;
  border-radius: 20px;
  margin: 20px;
}

/* line 548, /Users/maxdefroe/HCI/public/scss/style.scss */
.panel .innerblock .innerimg {
  width: calc(20% - 20px);
  float: left;
  margin: 20px;
}

/* line 553, /Users/maxdefroe/HCI/public/scss/style.scss */
.panel .innerblock p {
  width: calc(80% - 20px);
  float: left;
  padding-top: 40px;
  color: #944f4c;
}

@media (max-width: 550px) {
  /* line 523, /Users/maxdefroe/HCI/public/scss/style.scss */
  .panel {
    margin: 0px;
  }
}

/* line 564, /Users/maxdefroe/HCI/public/scss/style.scss */
.sourcebutton {
  float: right;
  background-color: #e0dcdc;
  color: #515151;
  text-decoration: none;
  padding: 3px 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 12px;
}

/* line 573, /Users/maxdefroe/HCI/public/scss/style.scss */
.sourcebutton:hover {
  background-color: #c8c1c1;
  color: #fff;
}

/* line 578, /Users/maxdefroe/HCI/public/scss/style.scss */
.langCaption {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
}

/* line 583, /Users/maxdefroe/HCI/public/scss/style.scss */
.countryList {
  margin-top: 10px;
  padding-top: 10px;
  border: none;
  background-color: #ececec;
  display: inline-block;
  padding-bottom: 4px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
}

/* line 594, /Users/maxdefroe/HCI/public/scss/style.scss */
.flagcontainer {
  float: left;
  width: calc(100% / 3);
  position: initial;
  vertical-align: center;
  text-align: center;
}

/* line 601, /Users/maxdefroe/HCI/public/scss/style.scss */
.flag {
  width: 65%;
  max-width: 100px;
  border: 10px solid #e0dfdf;
  border-radius: 20px;
  opacity: 0.6;
}

/* line 609, /Users/maxdefroe/HCI/public/scss/style.scss */
.flagcontainer.active .flag {
  opacity: 1;
  border: 10px solid #c7c5c5;
}

/* line 615, /Users/maxdefroe/HCI/public/scss/style.scss */
.fontPick {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* line 620, /Users/maxdefroe/HCI/public/scss/style.scss */
.fontCaption {
  height: 20%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* line 626, /Users/maxdefroe/HCI/public/scss/style.scss */
.fontButtonWrapper {
  background-color: #ececec;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
}

/* line 632, /Users/maxdefroe/HCI/public/scss/style.scss */
.fontSizeWrapper {
  background-color: #ececec;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
}

/* line 639, /Users/maxdefroe/HCI/public/scss/style.scss */
.fontpopup .form-container {
  padding-top: 30px;
}

/* line 641, /Users/maxdefroe/HCI/public/scss/style.scss */
.fontpopup .form-container .btn-reset {
  background-color: #ececec;
  color: #252525;
}

/* line 644, /Users/maxdefroe/HCI/public/scss/style.scss */
.fontpopup .form-container .btn-reset .buttonicon {
  height: 40px;
  margin-bottom: -15px;
  margin-top: -9px;
  margin-right: 10px;
}

/* line 651, /Users/maxdefroe/HCI/public/scss/style.scss */
.fontpopup .form-container .btn-cancel {
  background-color: #73c074;
  color: #ffffff;
  border: 3px solid #73c074;
}

/* line 658, /Users/maxdefroe/HCI/public/scss/style.scss */
.fontsizeOption {
  margin: 5px;
  float: left;
  background: #ffffff;
  width: calc((100% / 3) - 10px);
  border-radius: 7px;
  position: initial;
  vertical-align: center;
  text-align: center;
}

/* line 668, /Users/maxdefroe/HCI/public/scss/style.scss */
.fontsizeOption.active {
  -webkit-box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.19);
  box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.19);
}

/* line 674, /Users/maxdefroe/HCI/public/scss/style.scss */
.A {
  font-size: 15px;
}

/* line 678, /Users/maxdefroe/HCI/public/scss/style.scss */
.B {
  font-size: 20px;
}

/* line 682, /Users/maxdefroe/HCI/public/scss/style.scss */
.C {
  font-size: 25px;
}

/* line 686, /Users/maxdefroe/HCI/public/scss/style.scss */
.D {
  font-family: Arial, Helvetica, sans-serif;
}

/* line 690, /Users/maxdefroe/HCI/public/scss/style.scss */
.E {
  font-family: Verdana,Geneva,sans-serif;
}

/* line 694, /Users/maxdefroe/HCI/public/scss/style.scss */
.F {
  font-family: Helvetica, sans-serif;
}

/* line 698, /Users/maxdefroe/HCI/public/scss/style.scss */
.fontButton {
  background-color: transparent;
  border: none;
  color: black;
  width: 90px;
  height: 50px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

/* line 710, /Users/maxdefroe/HCI/public/scss/style.scss */
.fontButton:focus {
  outline: none;
}

/*# sourceMappingURL=../css/style.map */