/* line 76, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
body {
  background-color: #f8f9fb;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
}

/* line 81, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
* {
  box-sizing: border-box;
  -moz-transition: all "1s" ease;
  -o-transition: all "1s" ease;
  -webkit-transition: all "1s" ease;
  transition: all "1s" ease;
}

/* Button used to open the contact form - fixed at the bottom of the page */
/* line 88, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.setting {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

/* line 97, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.open-button {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
}

/* line 107, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.open-button-logged {
  position: absolute;
  margin-top: 10px;
  text-align: right;
  width: 25%;
}

/* line 114, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.open-button-logged-img {
  float: right;
  background-color: black;
  width: 20%;
  margin-top: 10px;
}

/* line 121, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.loginFooter {
  width: 100%;
  height: 100%;
}

/* The popup form - hidden by default */
/* line 126, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.form-popup {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
  opacity: 1;
}

/* Add styles to the form container */
/* line 139, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.form-container {
  max-width: 100%;
  padding: 10px;
  padding-top: calc(50vh - 170px);
  height: 100vh;
  background-color: #fff;
}

/* Full-width input fields */
/* line 148, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  border-radius: 10px;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
/* line 158, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  border-radius: 10px;
}

/* Set a style for the submit/login button*/
/* line 166, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.form-container label {
  margin: auto;
  text-align: center;
  display: inherit;
  color: #505050;
  font-size: 14px;
  margin-bottom: 15px;
}

/* line 174, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
/* line 189, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.form-container .cancel {
  background-color: transparent;
  color: #3a3a3a;
  font-weight: 800;
  border: 3px solid #9e9e9e;
}

/* Add some hover effects to buttons */
/* line 197, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* line 201, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
h1 {
  font-size: 38px;
  padding: 15px 0px 0px 0px;
}

/* line 206, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.header-image {
  margin-top: 40px !important;
  height: 200px;
  background-size: cover;
  background-position: center;
  width: calc(90% - 20px);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.15);
  margin: auto;
  background-image: url("../img/par.jpg");
}

/* line 219, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.title {
  text-align: center;
  color: white;
}

/* line 223, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.white-blocks-wrapper {
  max-width: 700px;
  margin: auto;
}

/* line 226, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.white-blocks-wrapper .white-block {
  background-color: #fff;
  width: calc(100% - 20px);
  -webkit-box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 47px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  float: left;
  margin: 10px;
  text-align: left;
}

/* line 236, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.white-blocks-wrapper .white-block p {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
  font-weight: lighter;
}

/* line 243, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.white-blocks-wrapper .extra-explanation {
  display: none;
}

/* line 247, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.white-blocks-wrapper .white-block.active .extra-explanation {
  display: inline;
}

@media (max-width: 768px) {
  /* line 223, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
  .white-blocks-wrapper {
    max-width: 90%;
  }
  /* line 254, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
  .white-blocks-wrapper .white-block p {
    font-size: 17px;
  }
}

/* line 269, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.chat_bot {
  text-align: center;
  color: white;
  font-size: 16px;
}

/* line 274, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.icon {
  max-width: 50px;
  margin: 20px;
  max-height: 50px;
  float: left;
}

/* line 282, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
#contentContainer a .thin, #contentContainer a .emojione, #contentContainer a b {
  display: none;
}

/* line 288, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.first_block {
  font-size: 16px;
  color: white;
  text-align: center;
}

/* line 295, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
#contentContainer a .thin, #contentContainer a .emojione, #contentContainer a b {
  display: none;
}

/* line 301, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
#footer-container {
  bottom: 0px;
  position: fixed;
  width: 100%;
  height: 50px;
  margin-left: -8px;
  padding: 0px;
  background-color: white;
  border-radius: 7px 7px 0px 0px;
}

/* line 310, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
#footer-container .footer {
  float: left;
  height: 90%;
  width: calc(100% / 3);
  position: initial;
  background-color: white;
}

/* line 318, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.footerhead {
  width: 100%;
  height: 3px;
  background-color: red;
}

/* line 323, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.redline {
  width: 3px;
  height: 100%;
  background-color: red;
  float: right;
}

/* line 348, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.personal_information {
  max-width: 700px;
  margin: auto;
}

/* line 351, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.personal_information .white-blockk {
  background-color: #fff;
  width: calc(100% - 20px);
  border-radius: 10px;
  float: left;
  margin: 10px;
  text-align: center;
}

/* line 358, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.personal_information .white-blockk p {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: lighter;
}

/* line 366, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.personal_information .extra-explanation {
  display: none;
}

/* line 370, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.personal_information .white-blockk.active .extra-explanation {
  display: inline;
}

@media (max-width: 768px) {
  /* line 348, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
  .personal_information {
    max-width: 90%;
  }
  /* line 377, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
  .personal_information .white-blockk p {
    font-size: 17px;
  }
}

/* line 385, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  background-color: #fff;
  width: calc(100% - 20px);
  border-radius: 10px;
  float: left;
  margin: 10px;
}

/* line 398, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.accordion p {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
  font-weight: lighter;
}

/* line 406, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.active, .accordion:hover {
  background-color: #ccc;
}

/* line 410, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  font-size: 15px;
}

/* line 418, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.countryList {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

/* line 426, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.fontPick {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* line 431, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.fontCaption {
  height: 20%;
  text-align: center;
}

/* line 436, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.fontsizeOption {
  float: left;
  width: calc(100% / 3);
  position: initial;
  vertical-align: center;
  text-align: center;
  margin-bottom: 20px;
}

/* line 444, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.A {
  font-size: 15px;
}

/* line 448, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.B {
  font-size: 20px;
}

/* line 452, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.C {
  font-size: 25px;
}

/* line 456, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.D {
  font-family: Arial, Helvetica, sans-serif;
}

/* line 460, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.E {
  font-family: Verdana,Geneva,sans-serif;
}

/* line 464, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.F {
  font-family: Helvetica, sans-serif;
}

/* line 468, C:/Users/lucas/Desktop/Nieuwemap/HCI/public/scss/style.scss */
.fontButton {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  width: 90px;
  height: 50px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

/*# sourceMappingURL=../css/style.map */