/* line 78, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
html {
  background: #9e3045;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d57b79 0%, #9e3045 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d57b79 0%, #9e3045 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d57b79 0%, #9e3045 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d57b79', endColorstr='#9e3045',GradientType=0 );
  /* IE6-9 */
  height: 100vh;
}

/* line 87, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
}

/* line 91, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
* {
  box-sizing: border-box;
  -moz-transition: all "1s" ease;
  -o-transition: all "1s" ease;
  -webkit-transition: all "1s" ease;
  transition: all "1s" ease;
}

/* Button used to open the contact form - fixed at the bottom of the page */
/* line 97, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.open-button {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 2px;
  right: 25px;
  width: 60px;
}

/* line 109, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.open-button-logged {
  font-size: 14px;
  text-align: right;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 2px;
  right: 60px;
  width: 100px;
}

/* The popup form - hidden by default */
/* line 124, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.form-popup {
  width: 100%;
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
  opacity: 0.95;
}

/* Add styles to the form container */
/* line 136, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.form-container {
  max-width: 100%;
  padding: 10px;
  padding-top: calc(50vh - 170px);
  height: 100vh;
  background-color: pink;
}

/* Full-width input fields */
/* line 145, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
/* line 154, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
/* line 160, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
/* line 172, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
/* line 177, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* line 181, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
h1 {
  font-size: 38px;
  padding: 15px 0px 0px 0px;
}

/* line 187, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.title {
  text-align: center;
  color: white;
}

/* line 191, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.white-blocks-wrapper {
  max-width: 700px;
  margin: auto;
}

/* line 194, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.white-blocks-wrapper .white-block {
  background-color: #fff;
  width: calc(100% - 20px);
  border-radius: 10px;
  float: left;
  margin: 10px;
  text-align: left;
}

/* line 201, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.white-blocks-wrapper .white-block p {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
  font-weight: lighter;
}

/* line 208, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.white-blocks-wrapper .extra-explanation {
  display: none;
}

/* line 212, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.white-blocks-wrapper .white-block.active .extra-explanation {
  display: inline;
}

@media (max-width: 768px) {
  /* line 191, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
  .white-blocks-wrapper {
    max-width: 90%;
  }
  /* line 219, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
  .white-blocks-wrapper .white-block p {
    font-size: 17px;
  }
}

/* line 226, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 12px;
}

/* line 237, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.chat_bot {
  text-align: center;
  color: white;
  font-size: 16px;
}

/* line 242, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
.icon {
  max-width: 50px;
  margin: 20px;
  max-height: 50px;
  float: left;
}

/* line 250, C:/Users/lucas/Desktop/Nieuwe map/HCI/public/scss/style.scss */
#contentContainer a .thin, #contentContainer a .emojione, #contentContainer a b {
  display: none;
}

/*# sourceMappingURL=../css/style.map */